@media screen and (max-width: 420px) {
    #lezioni .row>.left, #lezioni .row>.right {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    #lezioni .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: rgb(242, 242, 205);
    }
}

@media screen and (max-width: 420px) {
    #steps .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 420px) {
    #why .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: rgb(242, 242, 205);
    }
}

@media screen and (max-width: 420px) {
    .row{
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    #steps .row>.left, #steps .row>.central, #steps .row>.right{
        width: auto;
        margin-bottom: 20px;
    }
}
