@media screen and (max-width: 420px) {
    #lezioni .row>.left, #lezioni .row>.right {
        background-color: rgb(242, 242, 205);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 420px) {
    .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}